body {
    height: 100vh;
    background-image: url('img/imagemsite2.png'); /*imagem de fundo */
    background-size: cover; /* Faz com que a imagem cubra toda a área da tela */
    background-position: center; /* Centraliza a imagem */
    
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: inherit; /* Usa a mesma imagem de fundo */
    background-size: inherit; /* Mantém as propriedades de tamanho */
    background-position: inherit; /* Mantém a posição */
    filter: blur(6px); /* Aplica o desfoque */
    z-index: -1; /* Mantém o fundo atrás do conteúdo */
}
h1 {
    color: white;
    position: relative; /* Garante que o texto fique acima da imagem de fundo */
    z-index: 1; /* Garante que o texto fique acima da imagem, mesmo se o fundo tiver um z-index menor */
    padding: 0 10px; /*espaço nas laterais*/
}

h3 {
    color: white;
    position: relative; /* Garante que o texto fique acima da imagem de fundo */
    z-index: 1; /* Garante que o texto fique acima da imagem, mesmo se o fundo tiver um z-index menor */
    padding:  0 10px; /*espaço nas laterais*/
}

h2 {
    color: white;
    position: relative; /* Garante que o texto fique acima da imagem de fundo */
    z-index: 1; /* Garante que o texto fique acima da imagem, mesmo se o fundo tiver um z-index menor */
    padding:  0 10px; /*espaço nas laterais*/
}
